<%- include ("../../_partial/_header.ejs") -%>

<div class="container-fluid container-zeroed">
    <div class="container-fluid container-zeroed-background">
        <div class="container-fluid container-zeroed-content">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        <a href="/whoareyou/writer" class="btn btn-coa btn-lg btn-danger mx-auto my-auto">WRITER</a>
                    </div>
                    <div class="col">
                        <a href="/whoareyou/worldbuilder" class="btn btn-coa btn-lg btn-danger mx-auto my-auto">WORLD BUILDER</a>
                    </div>
                    <div class="col">
                        <a href="/whoareyou/roleplayer" class="btn btn-coa btn-lg btn-danger mx-auto my-auto">ROLEPLAYER</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ("../../_partial/_footer.ejs") -%>