<%- include ("./_partial/_header.ejs") -%>

<ul>
    <li>Username: <%= username %></li>
    <li>Password: <%= password %></li>
    <li>Username and password have been saved to a file.</li>
</ul>


<%- include ("./_partial/_footer.ejs") -%>