<%- include ("../_partial/_dashheader.ejs") -%>
<div class="container-fluid landing">
    <div class="container-fluid landing-background">
        <div class="container-fluid landing-content">
            <div class="row h-100 container-zeroed">
                <div class="col">
                 Test
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ("../_partial/_footer.ejs") -%>