<footer>
    <div class="container-fluid">
        <div class="margin-left-2em">
            <br>
            <a href="/about" class="btn btn-dark">About Us</a>
            <br>
            <a href="/contact" class="btn btn-dark">Contact Us</a>
            <br>
            <a href="/Support" class="btn btn-dark">Support</a>
        </div>
    </div>
</footer>
</body>
</html>