<%- include ("../_partial/_header.ejs") -%>
<div class="container-fluid landing">
    <div class="container-fluid landing-background">
        <div class="container-fluid landing-content">
            <div class="row h-100 container-zeroed">
                <div class="col">
                    <div class="container-fluid container-zeroed-content hvh-80 d-flex align-items-center justify-content-center">
                        <div class="flex-item">
                            <h1 class="">EVERYBODY WANTS TO BUILD A DREAM.<br>LET US HELP YOU BUILD IT.</h1>
                            <br>
                            <a href="/whoareyou" class="btn btn-coa btn-lg btn-danger btn-fw">WHO ARE YOU?</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="container-fluid container-zeroed-content hvh-80 d-flex align-items-center justify-content-start">
                        <div class="flex-item">
                            <img src="assets/images/hometrio.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ("../_partial/_footer.ejs") -%>