<%- include ("../_partial/_header.ejs") -%>

<div class="container-fluid container-zeroed">
    <div class="container-fluid container-zeroed-background">
        <div class="container-fluid container-zeroed-content">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        This is a test.
                    </div>
                    <div class="col">
                        This is a test.
                    </div>
                    <div class="col">
                        This is a test.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ("../_partial/_footer.ejs") -%>