<%- include ("../_partial/_header.ejs") -%>

<div class="container-fluid container-zeroed">
    <div class="container-fluid container-zeroed-background">
        <div class="container-fluid container-zeroed-content hvh-975 d-flex flex-column align-items-center justify-content-center" style="background: #2c2f31;">
            <div class="flex-item mb-5">
                <h1>WHO ARE YOU?</h1>
            </div>
            <div class="container-fluid d-flex align-items-center justify-content-around">
                <div class="flex-item d-flex flex-column align-items-center">
                    <img class="mb-5" src="assets/images/writer.jpg" width="500px" height="500px">
                    <a href="/whoareyou/worldbuilder" class="btn btn-coa btn-lg btn-danger btn-fw">WRITER</a>
                </div>
                <div class="flex-item d-flex flex-column align-items-center">
                    <img class="mb-5" src="assets/images/worldbuilder.jpg" width="500px" height="500px" >
                    <a href="/whoareyou/worldbuilder" class="btn btn-coa btn-lg btn-danger btn-fw">WORLD BUILDER</a>
                </div>
                <div class="flex-item d-flex flex-column align-items-center">
                    <img class="mb-5" src="assets/images/roleplayer.jpg" width="500px" height="500px" >
                    <a href="/whoareyou/roleplayer" class="btn btn-coa btn-lg btn-danger btn-fw">ROLEPLAYER</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ("../_partial/_footer.ejs") -%>