<% for (var i = 0; i < storyArcs.length; i++){ %>
<a href="/dashboard/createstoryarcs" class="card card-link bg-dark my-3 mx-3">
    <div class="card-body bg-dark">
        <h5><%= storyArcs[i].data.blocks[0].data.text %></h5>
    </div>
</a>
<% } %>